header{
  width: 82.9rem;
  height: 3.5rem;
  background-color: #fefefe;
  box-shadow: 0 0.2rem 0.4rem 0
  rgba(0, 0, 0, 0.16);
}

.webname{
  width: 10.5rem;
  height: 1.9rem;
  font-family: "微软雅黑";
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.9rem;
  letter-spacing: 0;
  color: #323232;
  margin: 1rem 60.7rem 1rem 11.7rem;
}

.logo{
  width: 3rem;
  height: 1.6rem;
  position: absolute;
  top: 1.1rem;
  left: 23.4rem;
}

.headimage{
  width: 1.9rem;
  height: 1.9rem;
  border: solid 0.1rem #707070;
  position: absolute;
  top: 1.1rem;
  left: 62.6rem;
  -moz-border-radius: 0.55rem;
  -webkit-border-radius: 31.3rem;
}

.username{
  width: 4.5rem;
  height: 1.4rem;
  font-family: 微软雅黑;
  font-size: 1.1rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.4rem;
  letter-spacing: 0;
  color: #323232;
  position: absolute;
  top: 0.3rem;
  left: 66.1rem;
}

.menu{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125rem;
  vertical-align: middle;
  border-top: 0.375rem solid;
  border-right: 0.375rem solid transparent;
  border-left: 0.375rem solid transparent;
  position: absolute;
  top: 1.9rem;
  left: 71.3rem;
}

.word1{
  width: 4.5rem;
  height: 1.4rem;
  font-family:"微软雅黑";
  font-size: 1.1rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.4rem;
  letter-spacing: 0;
  color: #3867d6;
  position: absolute;
  top: 4.9rem;
  left: 15.3rem;
}

.word2{
  font-family: "微软雅黑";
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0;
  color: #989898;
  position: absolute;
  top: 8.2rem;
  left: 16.0rem;
}

.progress{
  position: absolute;
  width:100px;
  margin:100px auto;
  top: 4.4rem;
  left: 14.8rem;
}

.progress_bg{
  height: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color:#f2f2f2;
}

.progress_bar{
  background: #9B9B9B;
  width: 0;
  height: 10px;
  border-radius: 5px;
}

.progress_btn{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  background:#fff;
  left: 0;
  margin-left: -10px;
  top:-5px;
  cursor: pointer;
  border:1px #ddd solid;
  box-sizing:border-box;
}

.progress_btn:hover{
  border-color:#F7B824;
}

.text{
  font-family: "微软雅黑";
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #989898;
  position: absolute;
  top: 0.9rem;
  left: 2.2rem;
}

.word3{
  font-family: "微软雅黑";
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #989898;
  position:absolute;
  top: 11.8rem;
  left: 15.7rem;
}

.input1{
  width: 7.0rem;
  height: 1.1rem;
  background-color: #fefefe;
  border-radius: 0.3rem;
  border: solid 0.1rem #989898;
  position:absolute;
  top: 13.9rem;
  left: 14.1rem;
}

.word4{
  font-family: "微软雅黑";
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #989898;
  position:absolute;
  top: 15.2rem;
  left: 15.2rem;
}

.input2{
  width: 7.0rem;
  height: 1.1rem;
  background-color: #fefefe;
  border-radius: 0.3rem;
  border: solid 0.1rem #989898;
  position:absolute;
  top: 17.3rem;
  left: 14.1rem;
}

.word5{
  font-family: "微软雅黑";
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #989898;
  position:absolute;
  top: 18.5rem;
  left: 16.4rem;
}

.input3{
  width: 7.0rem;
  height: 1.1rem;
  background-color: #fefefe;
  border-radius: 0.3rem;
  border: solid 0.1rem #989898;
  position:absolute;
  top: 20.6rem;
  left: 14.1rem;
}

.word6{
  font-family: "微软雅黑";
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0;
  color: #989898;
  position: absolute;
  top: 22.4rem;
  left: 14.1rem;
}

select{
  width: 7.0rem;
  height: 1.1rem;
  background: transparent;
  border: none;
}

.select1{
  position: absolute;
  top: 24.0rem;
  left: 14.1rem;
}

hr{
  width: 7.0rem;
}

.hr1{
  position: absolute;
  top: 25.0rem;
  left: 14.1rem;
}

.word7{
  font-family: "微软雅黑";
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #989898;
}

.word8{
   font-family: "微软雅黑";
   font-size: 0.6rem;
   font-weight: normal;
   font-stretch: normal;
   line-height: 0.8rem;
   letter-spacing: 0;
   color: #989898;
   position: absolute;
   top: 25.4rem;
   left: 14.1rem;
 }

.select2{
  position: absolute;
  top: 27.0rem;
  left: 14.1rem;
}

.hr2{
  position: absolute;
  top: 28.0rem;
  left: 14.1rem;
}

.word9{
  font-family: "微软雅黑";
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0;
  color: #989898;
  position: absolute;
  top: 28.4rem;
  left: 14.1rem;
}

.select3{
  position: absolute;
  top: 30.0rem;
  left: 14.1rem;
}

.hr3{
  position: absolute;
  top: 31.0rem;
  left: 14.1rem;
}

.word10{
  font-family: "微软雅黑";
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0;
  color: #989898;
  position: absolute;
  top: 31.4rem;
  left: 14.1rem;
}

.select4{
  position: absolute;
  top: 33.0rem;
  left: 14.1rem;
}

.hr4{
  position: absolute;
  top: 34.0rem;
  left: 14.1rem;
}

.word11{
  font-family: "微软雅黑";
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0;
  color: #989898;
  position: absolute;
  top: 34.4rem;
  left: 14.1rem;
}

.select5{
  position: absolute;
  top: 36.0rem;
  left: 14.1rem;
}

.hr5{
  position: absolute;
  top: 37.0rem;
  left: 14.1rem;
}

.word12{
  font-family: "微软雅黑";
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0;
  color: #989898;
  position: absolute;
  top: 37.4rem;
  left: 14.1rem;
}

.select6{
  position: absolute;
  top: 39.0rem;
  left: 14.1rem;
}

.hr6{
  position: absolute;
  top: 40.0rem;
  left: 14.1rem;
}

.word13{
  font-family: "微软雅黑";
  font-size: 0.6rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #3867d6;
  position: absolute;
  top: 42.0rem;
  left: 14.1rem;
}

.div1{
  width: 4.4rem;
  height: 1.9rem;
  background-color: #fefefe;
  border-radius: 0.3rem;
  border: solid 0.1rem #3867d6;
  position: absolute;
  top: 42.0rem;
  left: 16.7rem;
}

.word14{
  font-family:"微软雅黑";
  font-size: 0.8rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #3867d6;
  position: absolute;
  top: 41.8rem;
  left: 18.1rem;
}


