body{overflow-y: auto;}
a:hover{text-decoration: none;}
.navbar-logo{height:28px;width:50px;margin-bottom:5px;}
.user-icon{margin-top:4px;height:34px;width: 34px;border-radius: 17px;border:2px black solid;background-color: white;float:left}
.a-font{color:black;}
.body-nav{text-align:center;}
.nav-button{border-right:1px darkgray solid;}
.parameter{color:rgb(56, 103, 214)}
.body-font{color:gray}
.check-button{border-radius: 15px;border:1px rgb(56, 103, 214) solid}
.a-button{color:rgb(56, 103, 214);height:40px;}
.button-size{height:40px;}
.start{font-size:18px;}
.neuron{height:40px;width:40px;border-radius: 20px;border:rgb(56, 103, 214) 1px solid;text-align: center;color:rgb(56, 103, 214);
        background-color: white}
.add-neuron{float:left;}
.data-right{text-align:right;}
.data-left{text-align:left;}
.layers{border:1px rgb(56, 103, 214) solid;border-radius: 30px;}
.neuron-network{background-color: whitesmoke;position:absolute;height:400px;width:640px;}
.neuron-hover{box-shadow:0 0 2px 2px rgb(56, 103, 214);}
.center{left:50%;margin-left: -320px;}
.modify-div{position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;height:400px;width:350px;background-color: whitesmoke}
.modify-input{height:40px;width:300px;border-radius: 10px;border:rgb(56, 103, 214) 2px solid;padding-left: 30px;}
.modify-button{background-color: rgb(56, 103, 214);color:white;height:40px;width:150px;text-align: center;color:white;
                border:none;border-radius: 15px;}
.neuron_1:hover{box-shadow:0 0 2px 2px rgb(56, 103, 214);cursor:pointer;border-color:rgb(56, 103, 214)}
.neuron_2:hover{box-shadow:0 0 2px 2px red;cursor:pointer;border-color:red}
